name: Train AQI Model Daily

on:
  schedule:
    - cron: '0 0 * * *'   # Runs every day at midnight (UTC)
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run training script
      run: python src/train_model.py
      env:
        HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}

    - name: Commit & Push new model
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"

        # pull latest main first to avoid conflict
        git pull origin main --rebase || echo "No remote changes to pull"

        git add models/best_model.pkl
        git commit -m "Update trained model [skip ci]" || echo "No changes to commit"
        git push
